<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Too many tries, please try again in a couple of minutes</h1>
    </div>
</div>