@using ShuffleLit.ViewModels

@model ResetPasswordViewModel
<form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">
    @* asp-validation-summary --> displays all model errors *@
    <div asp-validation-summary="All" class="text-danger" />
    <!--code-->
    <input asp-for="Code" hidden />
    <!--email-->
    <div class="form-group">
        <label asp-for="Email" class="col-md-2">email</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger" />
        </div>
    </div>
    <!--password-->
    <div class="form-group">
        <label asp-for="Password" class="col-md-2">password</label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger" />
        </div>
    </div>
    <!--confirm password-->
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2">confirm password</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger" />
        </div>
    </div>
    <!--submit-->
    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success form-control">Submit</button>
        </div>
    </div>
</form>