@using ShuffleLit.ViewModels
@model UserDetailViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Personal Info</h1>
<p>email address: @Model.UserName</p>
<p>password: ****</p>
 <p>password updated: @Model.PasswordChangedDate</p> 
<a class="btn btn-outline-success float-right" asp-area="" asp-controller="Profile" asp-action="EditProfile"> Edit Password</a>