@using ShuffleLit.Data.Enum
@using ShuffleLit.ViewModels
@model EditLiteratureViewModel
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <!--AppUser-->
    @* <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" /> *@
    <!--Title-->
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" class="form-control" aria-describedby="titleHelp" placeholder="Enter title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <!--Description-->
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" type="text" class="form-control" aria-describedby="DescriptionHelp" placeholder="Enter Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <!--LinkUrl-->
    <div class="form-group">
        <label asp-for="LinkUrl">LinkUrl</label>
        <input asp-for="LinkUrl" type="text" class="form-control" aria-describedby="LinkUrlHelp" placeholder="Enter LinkUrl">
        <span asp-validation-for="LinkUrl" class="text-danger"></span>
    </div>

    <!--category-->
    <div class="form-group">
        <label asp-for="LiteratureCategory">LiteratureCategory</label>
        <select asp-for="LiteratureCategory" asp-items="@Html.GetEnumSelectList<LiteratureCategory>()">
        </select>
        <span asp-validation-for="LiteratureCategory" class="text-danger"></span>
    </div>
    <!--state-->
    <div class="form-group">
        <label asp-for="LiteratureState">LiteratureState</label>
        <select asp-for="LiteratureState" asp-items="@Html.GetEnumSelectList<LiteratureState>()">
        </select>
        <span asp-validation-for="LiteratureState" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>