@{
    ViewData["Title"] = "Home";
}

<!--authenticated home-->

<div class="container d-flex flex-column text-center h-100 justify-content-center align-items-center">
    <h1>ShuffleLit</h1>
    <p class="lead">The app which will help you catalog your literatures.</p>
    <p class="fs-5 col-md-8">
        Create records of Your own literatures or add any to Your collection from other users.
    </p>
</div>