@{
    ViewData["Title"] = "Home";
}
<div class="container d-flex flex-column text-center h-100 justify-content-center">
    <h1>ShuffleLit</h1>
    <p class="lead">The app which will help you catalog your literatures.</p>
    <p class="lead">
        <a asp-controller="Account" asp-action="Register" class=" mt-2 btn btn-lg btn-primary">Get Started</a>
        <div class="pt-3">
            <p>Already a member?</p>
        <a asp-controller="Account" asp-action="Login" class=" mt-2 btn btn-lg btn-success">Log in </a>
        </div>
    </p>
</div>